
@{
    ViewBag.Title = "About";
}




<h2>@ViewBag.Title.</h2>
<ul>
    <li>
        <span class="font1" style="background-color:yellow">
            Funded by Microsoft - Microsoft Azure Research Award 2014-15
        </span>
    </li>
    <li>
        <p class="font1">
            <strong>Members</strong>
            <ul>
                <li>Sourabh Pandey - 1AT11CS100</li>
                <li>Sachin Hegde - 1AT11CS080</li>
            </ul>
        </p>
              
    </li>
</ul>

    
    


