@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    <strong>Sourabh:</strong>   <a href="mailto:spandey5992@gmail.com">spandey5992@gmail.com</a><br />
    <strong>Sachin:</strong> <a href="mailto:sachinhegde6@gmail.com">sachinhegde6@gmail.com</a>
</address>