
@{
    ViewBag.Title = "Analysis";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
 }

<h2>@ViewBag.Title.</h2>
<hr/>
<div>
    
        <p><a href="@Url.Action("List","Home")" class="btn btn-primary" style="font-size:large">List the clusters &raquo;</a></p>
        <p></p>
        <p><a href="@Url.Action("EnterQuery","Home")" class="btn btn-primary" style="font-size:large">Execute Queries &raquo;</a></p>

</div>

